apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: netflix-servicemonitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: netflix
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s

